<!-- Main content -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Day</label>
                            <input type="text" class="form-control" id="day"
                            data-provide="datepicker"
                            data-date-format="dd/mm/yyyy"
                            placeholder="dd-mm-yyyy">
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Time</label>
                            <input type="time" class="form-control" id="time" step="60" pattern="[0-2][0-9]:[0-5][0-9]">
                        </div>
                        
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Temperature</label>
                            <input type="text" class="form-control" id="temperature">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Humidity</label>
                            <input type="text" class="form-control" id="humidity">
                        </div>
                    </div>
                </div>
            
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" class="form-control" id="location">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add-sensor">Save changes</button>
            </div>
        </div>


    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- SweetAlert2 -->
<script src="../../plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="../../plugins/toastr/toastr.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->



<script>
    $(document).ready(function () {
//mặc định ngày giờ thì nó ra ,giờ nó ra . nhunwhg mặc định kiểu đó đéo có định dạng ngày tháng năm 
        moment.locale();
        // Sự kiện khi modal được mở
        $('#modal-default').on('show.bs.modal', function () {
            // Lấy ngày và giờ hiện tại sử dụng Moment.js
            var currentDateTime = moment();
            var formattedDate = currentDateTime.format('DD/MM/YYYY');
            console.log('Current DateTime:', currentDateTime.format('DD/MM/YYYY HH:mm'));//ko phải , cả 3 đều vừa gọi hàm vừa điền vào
            // Đặt giá trị cho trường ngày và giờ 
            $('#day').val(formattedDate); 
            $('#time').val(currentDateTime.format('HH:mm'));
        });

        // Sự kiện khi nút "Save changes" được click
        $('#add-sensor').click(function () {
            // Lấy giá trị từ các trường input
            var dateValue = $('#day').val();
            var timeValue = $('#time').val();
            var temperatureValue = $('#temperature').val();
            var humidityValue = $('#humidity').val();
            var locationValue = $('#location').val();

            // TODO: Thực hiện các xử lý với giá trị đã lấy được

            // Đóng modal
            $('#modal-default').modal('hide');
        });
    });
</script>


</body>

</html>